
@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');


body {
    font-family: 'Poppins',Arial,sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    background: linear-gradient(to bottom right, #white 0%, #ff99cc 100%);
}

.show-desktop {
  display: none;
  margin: 0 auto 13% auto;
}

p{
  font-size: 1.4em;
}

nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(36,41,44);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: rgb(49, 55, 59);
}

nav ul li a:hover {
  background-color: rgb(65, 73, 78);
}




  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%; 
  }


  .container {
    text-align: center;
    color: black;
    align-items: center;
 
  }

  .main-text{
    font-size: ;
    margin-top: 23%;
    border-top-right-radius: 43px;
    margin-top: 40%;
  
    width: 100%;

    }
  



.our-products ul {
   text-decoration: none;
   padding: 0;
   list-style-type: none;
   font-size: 1.4em;
 
}

.logo-container img{
 
  margin-top: 20%;
}



.about-us{

  background-color: #F6F6F6;
  width: 100%;


}







@media only screen and (min-width: 650px)  {


h1{
  font-size: 3em;
}

blockquote{
  font-size: 2em;
}
figcaption {
  font-size: 1.5em;
}

}

  




@media only screen and (min-width: 875px)  {

  h1{
    font-size: 5em;
  }

  
   p {
     font-size: 2em;
   }

   .logo {
    animation: move 1s infinite alternate;
    margin-left: -2%;
    width: 22%;

   }
 .logo-container h1{
  animation: move 1s infinite alternate;
 }


}










@keyframes move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }

    }
    
    
    
}




nav ul li
{
   position: fixed;
   top: 0;
   colo
}
















}


}

@media only screen and (min-width: 1024px){


p {
  4em
}


.our-products ul .image1{
  display: flex;
  margin-top: 4455%;
}


.logo-container img {
  width: 22%;
}



}







@media only screen and (min-width: 1600px) {




  .container {

    width: 100%;
  }


.main-text {

  margin-top: 25%;

}



.our-products ul {

  margin-top: -0.17%;
   
}

.our-products ul .image1{
   margin-left: 2%;
}




.logo-container img {

   margin-top: 16%;
   width: 11%;




}

.main-text{


  margin-top: 3%;

}


}



























